table {
border: 2px solid black;
border-collapse: collapse;
widith: 80%;
}
th {
  background-color: orange;
  padding: 5px;
}
td {
  text-align: center;
}
th, td {
border: 1px solid black;
}

ul {
  float: right;
	border: 5px dashed green;
	max-width: %;
	-webkit-border-radius: 5px;
}
img {
	float: right;
	max-height: 100px;
	max-width: 70%;
  transform: rotate(180deg);
}
.right {
  float: right;
	max-width: 45%;
  margin: 3px;
}
kulia {
	float: right;
	backgroud-color: pink;
}
